{% extends 'base.html' %}
{% load humanize %}
{% block messages %}
<ul class="messages" id="messages-list">
    {% if messages %}
    {% for message in messages %}
    <li>
        {% if message.tags %}
        <div class="bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 px-4 py-3 shadow-md" role="alert">
            <div class="flex">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-blue-500 mr-4"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path
                            d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
                    </svg></div>
                <div>
                    <p class="font-bold">{{ message }}</p>
                    <p class="text-sm">You can pay other violations if they're exist.</p>
                </div>
            </div>
        </div>
        {% else %}
        <div class="alert alert-info msg fade show" role="alert">{{ message }}</div>
        {% endif %}
    </li>
    {% endfor %}
    {% endif %}
</ul>
{% endblock %}
{% block content %}
<h1 class="text-5xl font-bold text-center">{{ request.user }}</h1>
<h2 class="text-xl italic uppercase text-center mt-8">List of unpaid violations</h2>

<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Plugged Number
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                date
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Details
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for item in violations_list %}
                        <tr>

                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-900">{{ item.plugged_number }}</div>

                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                {{ item.date|naturaltime }}
                            </td>

                            <td class="px-6 py-4 whitespace-nowrap  text-sm font-medium">
                                <a href="violations/{{ item.id }}"
                                    class="px-4 py-1 text-sm text-white bg-blue-400 hover:bg-blue-500 transition-all ease-in-out rounded">Details</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>

                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-900">No Unpaid Violations for the specified Plugged Number
                                    and Driver Name</div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
